*{
    user-select: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.grid-container {
    width: fit-content;
    background-color: rgb(176, 217, 255);
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(7, 70px);
    justify-content: center;
    grid-auto-flow: row;
    border-radius: 10px;
}
.button {
    font-size: 35px;
    display: grid;
    justify-content: center;
    align-items: center;    
    border-radius: 10px;
}
.grid-display {
    background-color: green;
    grid-column: span 4;
    grid-row: span 2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.calculator-container{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: grid;
}
.button{
    background-color: rgb(117, 186, 250);
}
.button:hover{
    background-color: rgb(82, 162, 236);
}
#mouseDown{
    background-color: rgb(4, 86, 163);
}
.display{
    margin: 20px;
    font-size: 50px;
    font-weight: 700;
    /* breaking the text */
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}